<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" type="png" href="../images/icon/favicon.png">
	<title>Computer Science Courses on LearnEd</title>
	<link rel="stylesheet" type="text/css" href="css/subjects.css">
	<script type="text/javascript" src="../script.js"></script>
</head>
<body>
	
<!-- NAVIGATION -->
{{>navigation}}
<!-- MAIN Heading of Page -->
	<div class="title">
		<span>Computer Science Courses<br>on LearnEd</span>
		<div class="shortdesc">
			<p>Learn programming languages and concepts to prepare for a career in<br>hardware or software development</p>
		</div>
	</div>

<!-- FOOTER -->
{{>footer}}
</body>
</html>