<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" type="png" href="../images/icon/favicon.png">
	<title>Prepare for JEE Mains & Advanced</title>
	<link rel="stylesheet" type="text/css" href="css/subjects.css">
	<script type="text/javascript" src="../script.js"></script>
</head>
<body>

{{>navigation}}

	<div class="title">
		<span>Prepare for JEE Mains & Advanced<br>on LearnEd</span>
		<div class="shortdesc">
			<p>Learn your basic concepts to prepare for a career in<br>Engineering and Medical fields</p>
		</div>
	</div>


<!-- FOOTER -->
{{>footer}}

</body>
</html>