	<header>
		<div class="nav" id="nav">
			<div id="learned-logo">
			<a href="/"><img src="../images/icon/logo.png" style="width: 120px;"></a></div>
			<div class="switch-tab" id="switch-tab" onclick="switchTAB()"><img src="../images/icon/menu.png"></div>
			<ul id="list-switch">
				<li><a href="/jee"><img src="../images/courses/d1.png" class="icon">JEE</a></li>
				<li><a href="/gate"><img src="../images/courses/paper.png" class="icon">GATE</a></li>
				<li><a href="/computer_courses"><img src="../images/courses/computer.png" class="icon">Computer Courses</a></li>
				<li><a href="/computer_courses"><img src="../images/courses/data.png" class="icon">Data Structures</a></li>
				<li><a href="/computer_courses"><img src="../images/courses/algo.png" class="icon">Algorithm</a></li>
				<li><a href="/computer_courses"><img src="../images/courses/projects.png" class="icon">Projects</a></li>
			</ul>
			<div class="search" id="search-switch">
				<input type="search" placeholder="Search" class="srch"><button id="srchbtn"><img src="../images/icon/search.png"></button>
			</div>
		</div>
	</header>
	
